/* CSS styles for index.html */

#website-title {
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
  text-align: center !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
}

.main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.text-center {
  text-align: center !important;
}
